#support-hand {
  position: absolute;
  top: 5%;
  width: 100%;
  height: 50%;
  background-color: rgb(149, 69, 53);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: auto;

  background-image: url("./img/wood_board.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  resize: both;
  z-index: 1;
}
#support-hand div {
  border-radius: 10px;
  width: 15%;
  height: 70%;
  margin: 0.1%;
  background-size: 100%;
  background-repeat: no-repeat;
}
#support-hand div:hover {
  /*transform: scale(1.3) translateY(-15%);*/
  height: 120%;
  aspect-ratio: 3/5;
  max-height: 120%;
  background-size: 100% 100%;
}

#instruction {
  position: absolute;

  color: white;
  /*City lights Text
	  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    */
  /*Burning Text Effect
    text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
    */
  /*3D Text Effect*/
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777,
    0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333,
    0px 8px 7px #001135;

  font-size: 2vw;
  top: 0%;
  left: 50%;

  transform: translateX(-50%);

  text-align: center;
  overflow: visible;
  white-space: nowrap;
  pointer-events: none;
  z-index: 4;
}

.card.choose {
  box-shadow: inset 0px 0px 5vh 0.1vh cyan;
  cursor: pointer;
}
.card.choose.is-selected {
  box-shadow: inset 0px 0px 5vh 2vh cyan; /*inset 0px 0px 20vh 0.1vh*/
}
.card.trash {
  box-shadow: inset 0px 0px 5vh 0.1vh red;
  cursor: pointer;
}
.card.trash.is-selected {
  box-shadow: inset 0px 0px 5vh 2.5vh red;
  cursor: pointer;
}
.card.discard {
  box-shadow: inset 0px 0px 5vh 0.1vh yellow;
  cursor: pointer;
}
.card.discard.is-selected {
  box-shadow: inset 0px 0px 5vh 2.5vh yellow;
  cursor: pointer;
}

#play-field {
  position: absolute;
  top: 0%;
  left: 10%;
  height: 50%;
  width: 90%;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;

  overflow: auto;
  display: flex;
  align-items: center;
  /*justify-content: center;*/

  box-shadow: -5px 10px 18px #888888;
}
#play-field > div {
  height: 100%;
  aspect-ratio: 3 / 4;

  margin-left: 0.1%;
  background-size: 100%;
  background-repeat: no-repeat;

  border-radius: 5px;
  box-sizing: border-box;
  animation: fadeIn 0.4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0%;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
#buttons-pannel {
  position: absolute;
  top: 5%;
  right: 1%;
  width: 10%;
  height: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 2;
  overflow: visible;
  pointer-events: none;
}
.button {
  position: relative;
  width: 95%;
  aspect-ratio: 6 / 2;
  background-color: #0078d0;
  border: 0;
  border-radius: 125px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 0% 1%;
  pointer-events: auto;

  text-align: center;
  text-decoration: none;
  transition: all 0.3s;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}
.button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

#hand {
  position: absolute;
  bottom: 0%;
  right: 10%;
  border: 2px solid black;
  width: 70%;
  height: 45%;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
}
#hand > div {
  width: 12%;
  aspect-ratio: 3/5;
  /*
  Muốn có thể scroll x thì ko set width, set height:90%;, rồi thêm padding-top hoặc tăng height của #hand, rồi thêm overflow: auto
  */

  max-height: 90%;
  margin: 0.1%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: cyan;
  border-radius: 5px;

  animation: fly-in 1s;
  animation-delay: -0.5s;
}
#hand > div:hover {
  /*transform: scale(1.3) translateY(-15%);*/
  height: 120%;
  aspect-ratio: 3/5;
  max-height: 120%;
  background-size: 100% 100%;
}
@keyframes fly-out {
  0% {
    opacity: 100%;
    transform: translateY(-0%);
  }
  100% {
    opacity: 0%;
    transform: translateY(-100%);
    display: none;
  }
}
@keyframes fly-in {
  0% {
    display: none;
  }
  30% {
    opacity: 0%;
    transform: translateY(100%);
    display: none;
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
    display: block;
  }
}

#action-buy-coin {
  position: absolute;
  left: 0%;
  top: 20%;
  height: 10%;
  aspect-ratio: 3 / 1;
  background-color: rgb(210, 99, 9);
  background-image: linear-gradient(to top right, #0099f7, #f11712);
  border-radius: 1vh;
}

#action-buy-coin > div {
  float: left;
  border-radius: 50%;
  /*background-color: aqua;*/
  width: 33%;
  aspect-ratio: 1 / 1;
  padding: 0px;

  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px blue;
  font-size: 4vh;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#score-coffer-debt {
  position: absolute;
  left: 0%;
  top: 30%;
  height: 10%;
  aspect-ratio: 3 / 1;
  background-color: rgb(210, 99, 9);
  background-image: linear-gradient(to bottom right, #0099f7, #f11712);
  border-radius: 1vh;

  box-shadow: 2px 3px 3px #888888;
}
#score-coffer-debt > div {
  float: left;
  border-radius: 50%;
  width: 33%;
  aspect-ratio: 2 / 1;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  color: white;
  text-align: center;
  text-shadow: 1px 0px 0px black, 0px 1px 0px black, -1px 0px 0px black,
    0px -1px 0px black, 0 0 1px blue;
  font-size: 3.5vh;

  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
#score-coffer-debt > .three-digit{
  font-size: 2vh;
}

#bottom-left-corner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 10%;
  /*aspect-ratio: 60 / 2;*/
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 2.1vh;

  display: flex;
  overflow: visible;
}
.side-area {
  position: relative;
  height: 100%;
  aspect-ratio: 12 / 2;
  background-color: rgba(10, 10, 10, 0.7);
  outline: white solid 1px;
  border-top-right-radius: 3px;
  margin-right: 0.2vw;
  text-align: center;

  cursor: pointer;
}
#bottom-left-corner .play-area-text {
  text-align: center;
}
#bottom-left-corner .cards-count1 {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 50%;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  border-radius: 5px;
  background-color: red;
  text-align: center;

  font-weight: bold;
  line-height: 80%;
}
